<% message_array = "Can't wait!", "This event would be awesome!", "Looking up for this event.", "Hope this event would be succesfull", "Whoever who read this, I hope you have a great day!" %>

<div class="container pb-5">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>Name</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <% @event.attendee.each_with_index do |atten, index|%>
        <% if current_user == atten %>
          <tr class="table table-primary">
            <td><%= index + 1 %></td>
            <td><%= atten.email %></td>
            <td><%= atten.name %></th>
            <td><%= message_array.sample %></td>
          </tr>
        <% else %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= atten.email %></td>
          <td><%= atten.name %></th>
          <td><%= message_array.sample %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>