<div class="container">
  <div class="row p-2">
    <%= render 'events/show_event' %>
  </div>
  <div>
    <% if @event_creator == current_user %>
      <%= link_to "Edit this event", edit_event_path(@event) %> |
    <% end %>  
    <% if @event_creator == current_user %>
      <%= button_to "Destroy this event", @event, method: :delete %>
    <% end %>
  </div>
  
  <%= button_to "Attend this event", event_reservations_path(@event), data: { turbo_method: :post }, class: "btn btn-primary" %>
  <%= link_to "Cancel your attendance", event_reservation_path(@event), data: { turbo_method: :delete }, class: "btn btn-danger" %>
  
  <ol data-tubro="false">
    <% @event.attendee.each do |atten|%>
      <li><%= atten.name %></li>
    <% end %>
  </ol>
  
</div>
