<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", root_path %>

  <% if @event_creator == current_user%>
    <%= button_to "Destroy this event", @event, method: :delete %>
  <% end %>
</div>

<%= button_to "Attend this event", event_reservations_path(@event), data: {turbo_method: :post} %>

<ol data-tubro="false">
  <% @event.attendee.each do |atten|%>
    <li><%= atten.name %></li>
  <% end %>
</ol>

